#Movies {
    padding: 10px;
    padding-left: 20px;
}

    #Movies input, #Movies button {
        font-size: 25px;
        color: #000;
        margin-bottom: 50px
    }

    #Movies h4 {
        margin: 10px 0;
    }

    #Movies .imageDiv {
        text-align: center;
    }

        #Movies .imageDiv img {
            display: none;
        }

            #Movies #message .resultDiv .result {
                width: 600px;
                min-height: 300px;
                padding: 6px;
                float: left;
                text-align: center;
                cursor: pointer;
            }
